/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Hero Section */
.hero {
    background: url('media/images/rocket-background.jpg') no-repeat center center/cover;
    height: 500px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5rem;
    margin-top: 20px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
}

footer a {
    color: #a6fffb;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    color: #ffffff;
}

.back-to-top {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 15px;
    background-color: #a6fcff;
    color: #333;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.back-to-top:hover {
    background-color: #66faff;
}

/* Card Styles */
.card {
    margin: 15px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-title {
    font-weight: bold;
    color: #3834D9;
}

/* Navbar Styles */
.navbar {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
}

.navbar-brand {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    z-index: 1;
    transition: color 0.3s ease;
}

.navbar-brand img {
    height: 40px;
    margin-right: 10px;
}

.navbar-brand:hover {
    color: #a6fffb;
    /* Light blue color on hover */
}

.nav-link {
    color: #ffffff;
    transition: color 0.3s ease;
    text-wrap: auto;
}

.nav-link:hover {
    color: #a6fcff;
    /* Light blue color */
}

.nav-link.active {
    font-weight: bold;
    color: #a6fffc !important;
    /* Force light blue when active */
}

.navbar-toggler {
    background-color: #a6fcff;
}

@media (max-width: 768px) {
    .navbar-toggler {
        /*margin-left: 250px;*/
        margin-right: 0%;
    }
}

footer p {
    margin: 0;
}